.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-button {
        height: 20px;
        border: 1px solid black;
    }

    &-list {
        padding: 0;
        margin: 0;
    }
}

.user-gold {
    border-bottom: 5px solid goldenrod;
    font-size: x-large;
}

.total {
    border-top: 5px solid white;
    font-size: x-large;
}