.h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.options {
  display: flex;
  justify-content: space-between;

  .cart {
    flex-direction: row;
    width: 25%;

    // BORDER
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
  }
}

.dropdown-description-price {
  flex-direction: column;
  width: 50%;
  margin: 10px;
  padding: 10px;

  .description-header {
    font-size: x-large;
  }
}

.price-text {
  font-size: large;
}
