a {
  color: #80ffbf;

  &:hover {
    color: #00994d;
  }
}

.options {
  display: flex;
  justify-content: space-between;

  .cart {
    flex-direction: row;
    width: 25%;
  }
}

.dropdown-description-price {
  flex-direction: column;
  width: 50%;

  .description-header {
    font-size: x-large;
  }
}

.dropdown {
  color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
