a {
  color: #80ffbf;

  &:hover {
    color: #00994d;
  }
}

.dropdownCartDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dropdown {
  color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
